<!DOCTYPE html>
<html>
    <head>
        <title>Contacts App</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script type="text/javascript" src="controller.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="myCtrl">
        <div class="container">
            <h1>Contacts App</h1>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-4">First Name :<input type="text" ng-model = "firstName"> </div> 
            <div class="col-xs-6 col-sm-4 col-md-4">Last Name :<input type="text" ng-model = "lastName"> </div>
            <div class="col-xs-6 col-sm-4 col-md-4">Phone No. :  <input type= "text"  ng-model = "cellPhone"> </div>
            <div class="col-xs-6"><button class="btn btn-success" ng-click = "submitForm()">New</button></div>
        </div>
       <table class = "table table-striped">
       <tr ng-repeat="x in data">
       <td >{{x.firstName}}</td>
       <td >{{x.lastName}}</td>
       <td >{{x.cellPhone}}</td>
       <td ><button class="btn btn-danger btn-small" ng-click="remove($index)">Delete</button></td>
       </tr>
       </table>
       </div>
    </body>
</html>
